@font-face {
  font-family: "toutiao";
  /* Project id 3518647 */
  src: url('iconfont.woff2?t=1657680183217') format('woff2'),
    url('iconfont.woff?t=1657680183217') format('woff'),
    url('iconfont.ttf?t=1657680183217') format('truetype');
}

.toutiao {
  font-family: "toutiao" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.toutiao-add:before {
  content: "\e601";
}

.toutiao-delete:before {
  content: "\e602";
}

.toutiao-preview:before {
  content: "\e603";
}

.toutiao-cancle:before {
  content: "\e604";
}

.toutiao-edit:before {
  content: "\e605";
}

.toutiao-time:before {
  content: "\e606";
}

.toutiao-share:before {
  content: "\e607";
}

.toutiao-fenxiang:before {
  content: "\e608";
}

.toutiao-dianzan:before {
  content: "\e609";
}

.toutiao-guanbi:before {
  content: "\e60a";
}

.toutiao-gengduo:before {
  content: "\e60b";
}

.toutiao-dianzan2:before {
  content: "\e60c";
}

.toutiao-pinglun:before {
  content: "\e60d";
}

.toutiao-shoucang:before {
  content: "\e60e";
}

.toutiao-lishi:before {
  content: "\e60f";
}

.toutiao-shanchu:before {
  content: "\e610";
}

.toutiao-shouye:before {
  content: "\e611";
}

.toutiao-sousuo:before {
  content: "\e612";
}

.toutiao-shipin:before {
  content: "\e613";
}

.toutiao-wenda:before {
  content: "\e614";
}

.toutiao-shouji:before {
  content: "\e615";
}

.toutiao-youjiantou:before {
  content: "\e616";
}

.toutiao-zuojiantou:before {
  content: "\e617";
}

.toutiao-wuwangluo:before {
  content: "\e618";
}

.toutiao-yanzhengma:before {
  content: "\e619";
}

.toutiao-yuedu:before {
  content: "\e61a";
}

.toutiao-wode:before {
  content: "\e61b";
}

.toutiao-zuopin:before {
  content: "\e61c";
}